
.icon-search:before { content: '\e800'; } /* '' */
.icon-facebook-messenger:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-whatsapp:before { content: '\e803'; } /* '' */
.icon-viber:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-heart-solid:before { content: '\e806'; } /* '' */
.icon-pinterest:before { content: '\e807'; } /* '' */
.icon-heart:before { content: '\e808'; } /* '' */
.icon-reddit:before { content: '\e809'; } /* '' */
.icon-instagram:before { content: '\e80a'; } /* '' */
.icon-star-solid:before { content: '\e80b'; } /* '' */
.icon-google-plus:before { content: '\e80c'; } /* '' */
.icon-right:before { content: '\e80d'; } /* '' */
.icon-folder:before { content: '\e80e'; } /* '' */
.icon-clock:before { content: '\e80f'; } /* '' */
.icon-calendar:before { content: '\e810'; } /* '' */
.icon-dot-circle:before { content: '\e811'; } /* '' */
.icon-dot-circle-solid:before { content: '\e812'; } /* '' */
.icon-circle:before { content: '\e813'; } /* '' */
.icon-circle-solid:before { content: '\e814'; } /* '' */
.icon-image:before { content: '\e815'; } /* '' */
.icon-image-alt:before { content: '\e816'; } /* '' */
.icon-star:before { content: '\e817'; } /* '' */
.icon-camera:before { content: '\e818'; } /* '' */
.icon-picture:before { content: '\e819'; } /* '' */
.icon-video:before { content: '\e81a'; } /* '' */
.icon-right-medium:before { content: '\e81b'; } /* '' */
.icon-popup:before { content: '\e81c'; } /* '' */
.icon-ok:before { content: '\e81d'; } /* '' */
.icon-right-circle:before { content: '\e81e'; } /* '' */
.icon-ok-alt:before { content: '\e81f'; } /* '' */
.icon-link:before { content: '\e820'; } /* '' */
.icon-zoom-in:before { content: '\e821'; } /* '' */
.icon-zoom-out:before { content: '\e822'; } /* '' */
.icon-left-medium:before { content: '\e823'; } /* '' */
.icon-left-big:before { content: '\e824'; } /* '' */
.icon-right-big:before { content: '\e825'; } /* '' */
.icon-left-circle:before { content: '\e826'; } /* '' */
.icon-ok-circle:before { content: '\e827'; } /* '' */
.icon-resize-full-circle:before { content: '\e828'; } /* '' */
.icon-linkedin:before { content: '\e829'; } /* '' */
.icon-tumblr:before { content: '\e82a'; } /* '' */
.icon-vk:before { content: '\e82b'; } /* '' */
.icon-search-alt:before { content: '\e82c'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-left-small:before { content: '\f104'; } /* '' */
.icon-right-small:before { content: '\f105'; } /* '' */
.icon-folder-alt:before { content: '\f114'; } /* '' */
.icon-circle-notch:before { content: '\f1ce'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */